################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/Browse.VC.opendb
/.vs/Capstone/v16/.suo
/Capstone-Scheduler/Capstone-Scheduler/RCa22120
/Capstone-Scheduler/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/.suo
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/ipch/AutoPCH/26a6d889d34bb667/PARSER.ipch
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/ipch/AutoPCH/144781a8b85ab181/SCHEDULER.ipch
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/Browse.VC.db
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/Browse.VC.db-shm
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/ipch/AutoPCH/9ffc932e9f1f98f4/SCHEDULER.ipch
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/ipch/AutoPCH/670f6f802447f0d0/PARSER.ipch
/Capstone-Scheduler/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/Browse.VC.db
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/ipch/AutoPCH/263a5c8f90a44945/SESSION.ipch
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/Browse.VC.db-wal
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/ipch/AutoPCH/58c666a311de74ab/SCHEDULER.ipch
/.vs/slnx.sqlite
/.vs/Capstone/v16/Browse.VC.db
/Capstone-Scheduler/.vs/Capstone-Scheduler/v16/.suo
/.vs/Capstone/v16/ipch/AutoPCH/188369cd2eddc413/SCHEDULER.ipch
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/link.write.1.tlog
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/link.read.1.tlog
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/link.command.1.tlog
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/CL.write.1.tlog
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/CL.read.1.tlog
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/CL.command.1.tlog
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone.36db2c87.tlog/Capstone-Scheduler.lastbuildstate
/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.pdb
/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.exe
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/vc142.pdb
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/vc142.idb
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/scheduler.obj
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.vcxproj.FileListAbsolute.txt
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.log
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.ilk
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.exe.recipe
/Capstone-Scheduler/Capstone-Scheduler/x64/Debug/Capstone-Scheduler.Build.CppClean.log
*.vcxproj
*.filters
*.user
*.sln
*.exe
.vscode
.DS_store
__pycache__
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/GitRepos/v17/Browse.VC.opendb
/.vs/GitRepos/v17/Browse.VC.db-shm
/.vs/GitRepos/v17/Browse.VC.db-wal
/.vs/GitRepos/v17/Browse.VC.db
/.vs/GitRepos/v17/.suo
/.vs/GitRepos/config
