<!DOCTTYPE html>
<html>
    <head>
        <title>Flask Test</title>
    </head>
    <body>
        <table>
            <tr>
                <th></th>
                <th>Session ID</th>
                <th>Duration</th>
            </tr>
            {% for session in sessions %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ session.session_id }}</td>
                    <td>{{ session.duration }}</td>
                </tr> 
            {% endfor %}
          </table>
    </body>
</html>