<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Step Four</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Stylesheet.css') }}" />

</head>

<body>
    <header>
        <h1>Step Four</h1>
    </header>
    <!-- Navigate to step1, step2, step3 -->
    <nav class="crumbs">
        <ul>
            <li class="crumb"><a href="{{url_for('stepZero')}}">Step Zero</a></li>
            <li class="crumb"><a href="{{url_for('stepOne')}}">Step One</a></li>
            <li class="crumb"><a href="{{url_for('stepTwo')}}">Step Two</a></li>
            <li class="crumb"><a href="{{url_for('stepThree')}}">Step Three</a></li>
            <li>Step Four</li>
        </ul>
    </nav>


    <main>
        <details>
            <summary>View Schedule</summary>
			<table>
				<tr>
                    <th>Date</th>
                    <th>Time Slot</th>
					<th>Session ID</th>				
					<th>Room ID</th>					
				</tr>
				{% for session in schedule %}
                <tr>
                    <td>{{ session.start_time.month }}/{{ session.start_time.day }}</td>
                    <td>{{ session.start_time.time() }} - {{ session.end_time.time() }}</td>
					<td>{{ session.session_id }}</td>					
					<td>{{ session.assigned_room }}</td>					
				</tr>
				{% endfor %}
			</table>
        </details>

 
        <!-- Download generated schedule -->
        <form method="post">
            <input name="download" type="submit" value="Download" />
        </form>

		<input name="add" type="button" value="Schedule More Sessions" action="{{redirect(url_for('stepOne'))}}" />

    </main>


</body>
</html>
