<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Step Three</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Stylesheet.css') }}" />
</head>

<body>
    <header>
        <h1>Step Three</h1>
    </header>

    <nav class="crumbs">
        <ul>
            <li class="crumb"><a href="{{url_for('stepZero')}}">Step Zero</a></li>
            <li class="crumb"><a href="{{url_for('stepOne')}}">Step One</a></li>
            <li class="crumb"><a href="{{url_for('stepTwo')}}">Step Two</a></li>
            <li>Step Three</li>
        </ul>
    </nav>


    <main>
        <h3>Choose the Rooms you would like to schedule sessions in: </h3>
		<input form="x" type="submit" name="nextStep" value="Next" style="max-height: 30px;"/>
		<form id="x" method="post">
			

                <!--  filters section -->
                <section class="filters">
                    <h3>Filters</h3>
                    <fieldset id="property">
                        <legend>Property</legend>
                        {% for property, chk in properties.items() %}
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox" name="selectedProperties" value="{{property}}" {{chk}}/>
                                    {{property}}
                                </label>
                            </li>
                        </ul>
                        {% endfor %}
                    </fieldset>

                    <fieldset id="capacity">
                        <legend>Capacity</legend>                      
                        <input id="maxCap" type="number" name="maxCapacity" min="{{min}}" max="{{max}}" step="10"/>
                    </fieldset>

                    <fieldset id="roomSetup">
                        {% if formats|count > 0 %}
                        <legend>Room Format</legend>
                        {% for roomFormat, chk in formats.items() %}
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox" name="selectedRoomFormats" value="{{roomFormat}}" {{chk}}/>
                                    {{roomFormat}}
                                </label>
                            </li>
                        </ul>
                        {% endfor %}
                        {% endif %}
                    </fieldset>

                    <fieldset id="AVSetup">
                        {% if avSetups|count > 0 %}
                        <legend>AV Setup</legend>
                        {% for avSetup, chk in avSetups.items() %}
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox" name="selectedAVSetups" value="{{avSetup}}" {{chk}}/>
                                    {{avSetup}}
                                </label>
                            </li>
                        </ul>
                        {% endfor %}
                        {% endif %}
                    </fieldset>
                <input type="submit" name="applyFilters" value="Apply" />
                </section>

                <!-- available rooms section -->
                <section class="main-container">
                    <table>
                        <caption>Available Rooms</caption>
                        <colgroup>
                            <col class="check"/>
                            <col class="info" span="6"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <td/>
                                <th scope="col">Name</th>
                                <th scope="col">Property</th>
                                <th scope="col">Floor</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Room Setup</th>
                                <th scope="col">Available Slots</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in availableRooms %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedRooms" value="{{room[0].room_id}}"/>
                                </td>
                                <td>{{room[0].name}}</td>
                                <td>{{room[0].property}}</td>
                                <td>{{room[0].floor}}</td>
                                <td>{{room[0].max_capacity}}</td>
                                <td>{{room[0].format}}</td>
                                <td>{{room[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>        
			
        </form>
        
    </main>

</body>
</html>
